.DS_STORE
.idea/
.vscode/

/vendor/
/runtime/
/node_modules/

!public/assets/
public/assets/*
!public/assets/.htaccess

.env
env.php
config/env.php

.phpunit.cache/
.phpunit.result.cache
cache.properties
.php_cs.cache
phpunit.xml.bak

# keys
*.pem
*.key
*.ppk
*.p12
*.pfx
*.crt
*.cer
*.der